@use '../../style/constants.scss';

.logoImage { 
    width: 75px;
    height: 75px;
}

.logoDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    a {
        text-decoration-line: none;
    }

    p {
        font-size: constants.$large-font-size;
        font-family: constants.$bold-font;
        color: constants.$font-color;
    }
}