/* Currently active navigation tab */
@use '../../style' as *;

.topbarContent {
    display: flex;
    height: 150px;
    align-items: center;
    justify-content: space-between;
}

.navbar {
    font-family: $normal-font;
    font-size: $medium-font-size;

    .navbar-links {
        background-color: $medium-color;
        display:flex;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    li {
        list-style-type: none;

        a {
           display: block;
           text-decoration-line: none;
           padding: $padding-top $padding-left;
           font-size: $medium-font-size;
           color: $font-color;
        }
    }

    a.active {
        background-color: rgba($secondary-bg-color, 0.5);
        color: rgba($font-color, 0.7);
        font-weight: lighter;
    }

    li:hover {
        background-color: rgba($medium-color, 0.5);
    }

}

