/* Currently active navigation tab */
li>.active {
    color:rgb(106, 67, 203);
    font-weight: lighter;
}

.navbar {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar li {
    list-style-type: none;
    float: left;
    text-decoration: none;
    
}

.navbar li:hover {
    background-color: rgba(57, 77, 124, 0.506);
}
.navbar>ul {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 2px;
    list-style: none;
    text-align: center;
    width: 70vw;
    margin-right: 2rem;
}

