@use '../../style' as *;

.App {
  text-align: center;
  background-color: $background-color;
  color: $font-color;
  font-size: $medium-font-size;
  font-family: $normal-font, 'Lucida Console';
  height: 100%;
  width: 100%;
  border: 20px solid $background-color;
  border-style: solid;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items:  center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $font-color;
  padding-bottom: $div-padding-top;
  padding-top: $padding-top;
  background-color: $secondary-bg-color;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.carousel-content> * {
  width: calc(100% / 3);
}

.carousel-inner {
  margin: auto;
}

.containerTitle {
  padding-bottom: 5vh;
}

